@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.DTOs.VisitDto

@{
    ViewData["Title"] = "Edit Visit";
}

<h1>Edit Visit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="mb-3">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="VisitorName" class="control-label"></label>
                <input asp-for="VisitorName" class="form-control" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" ></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
