@model CreateCustomerCommand

@{
    ViewData["Title"] = "Create Customer";
}

<h1>Create Customer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           <div class="mb-3">
                <label asp-for="Identification" class="control-label"></label>
                <input asp-for="Identification" class="form-control" pattern="^[A-Za-z0-9]+$" maxlength="15" />
                <span asp-validation-for="Identification" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" maxlength="50" pattern="^[A-Za-z]+( [A-Za-z0-1]+)*[A-Za-z]$" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" maxlength="50" pattern="^[A-Za-z]+( [A-Za-z0-1]+)*[A-Za-z]$"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control" asp-items="ViewBag.Genders" maxlength="10"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" maxlength="50" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" pattern="\d{10,15}" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" maxlength="100" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" maxlength="50" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" pattern="\d{5,10}" maxlength="10" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" maxlength="50" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
